dotenv_if_exists .env
watch_file flake.lock
watch_file flake.nix
watch_file uv.lock

if has nix; then
    use flake
fi

env_vars_required \
    WEATHER_REPORT_DATA_LOCAL_TMP \
    WEB_ARCHIVE_DATA_LOCAL_TMP \

